@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,400&family=Montserrat:wght@300;400;500;600;700&family=Red+Hat+Display:wght@400;500;700&display=swap");
body {
  color: #fff;
}
.g-color {
  background: rgb(15, 82, 230);
  background: linear-gradient(
    165deg,
    rgba(15, 82, 230, 1) 0%,
    rgba(104, 27, 85, 1) 100%
  );
}
.active > .nav-link,
.navbar-nav .nav-link.active {
  color: #31de31 !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.bg-green {
  background-color: #31de31 !important;
}
.bg-purple {
  background-color: #020c23 !important;
}
.text-purple {
  color: #150e20 !important;
}
#app {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 30px;
}
.text-redhat {
  font-family: "Red Hat Display", sans-serif;
}
.navbar {
  padding-top: 30px;
  padding-right: 1rem;
  padding-bottom: 30px;
  padding-left: 1rem;
}

.navbar-nav .nav-divider {
  width: 1px;
  height: calc(100% - 8px);
  display: inline-block;
  margin: 4px 1.25rem;
}
.navbar-dark .navbar-nav .nav-divider {
  background-color: #282646;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}
.font-weight-light {
  font-weight: 300;
}
.btn-outline-purple {
  color: #fff;
  border-color: #fff;
}
.btn-outline-purple:hover {
  color: #fff;
  background-color: #491d8c;
  border-color: #491d8c;
}
.text-gray-500 {
  color: #a8a8a8 !important;
}
.line-height-1 {
  line-height: 1.5;
}
html {
  scroll-behavior: smooth;
}
.cari-mentor,
.kenapa-kami,
.kelas-populer,
.ulasan-mereka,
.keunggulan,
.footer {
  background-color: #fff;
}
h1 {
  font-weight: 700;
}
h5 {
  line-height: 30px;
}
.big-icon {
  font-size: 40px;
}
.wave-container {
  position: relative;
  overflow: hidden;
}
@keyframes animateWave {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
.card .mading {
  min-height: 200px;
}
a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: none;
}

aside.sidebar {
  width: 300px;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.card-keunggulan {
  min-width: 360px;
  max-height: 122px;
}
.nav-video,
.card-keunggulan {
  font-size: 14px;
}

.social-media img {
  margin-left: 17px;
}
.benefit {
  margin-top: 57px;
}
.benefit p {
  width: 110px;
  margin: 24px auto;
}
.login-nav {
  margin-left: 15rem;
}
.deskripsi-kelas p {
  width: 475px;
}

.btn-primary,
.btn-outline-primary:hover {
  background-color: #0f52e6;
  border: 1px solid #0f52e6;
}
.deskripsi-kelas .btn {
  font-weight: 600;
  border-radius: 5px;
}

.deskripsi-kelas .btn.material-icons {
  font-weight: 400;
  border-radius: 5px;
}

.deskripsi-kelas .btn-outline-primary {
  color: #fff;
}

.materi-list {
  height: 600px;
  overflow: visible;
  overflow-x: hidden;
}
.list-group {
  overflow: hidden;
}

.video {
  overflow: hidden;
}
.profil-image {
  width: 50%;
}
.font-weight-600 {
  font-weight: 600;
}

.accord-icon {
  float: right;
}
.accord-icon-item {
  float: left;
}
.accord-materi {
  float: right;
}
.item-fitur {
  width: 100%;
  overflow: hidden;
}
.item-fitur .fitur {
  float: left;
}
.item-fitur .icon {
  float: right;
}
.list-group .active,
.list-group .text-gray-500 {
  color: black !important;
}
.bg-lightpurple {
  background-color: #681b55;
}
.nav-video a {
  color: #fff;
}

@media only screen and (max-width: 1125px) {
  .login-nav {
    margin-left: 7rem;
  }
}
@media only screen and (max-width: 438px) {
  .deskripsi-kelas p {
    width: auto;
  }
  .deskripsi-kelas h2 {
    font-size: 30px;
  }
  .login-nav {
    margin: 0;
  }
  ul.navbar-nav.ml-5 {
    margin-left: 0 !important;
  }
}
